<div class="main">
  <img src="assets/background.jpg"/>
</div>

<div class="directions" id="directions">
  <h1 style="padding-left: 5%;">LOOKING FOR SOME...</h1>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.150512236586!2d-79.39866364933748!3d43.64503677901917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d95ad25ce3%3A0x982fe15ee640af93!2sBrassaii!5e0!3m2!1sen!2sus!4v1476895930217" width="85%" height="450" frameborder="0" style="border: 3px solid black; margin-left: 5%" allowfullscreen></iframe>

  <h3 style="padding-left: 5%;">PLANES, TRAINS, & AUTOMOBILES</h3>
  <p style="padding-left: 5%">Blah blah blah</p>
</div>