<main>
  <nav class="main">
    <ul class="main-navigation">
      <li><a href="#">HOME</a></li>
      <li><a href="#our-story">OUR STORY</a></li>
      <li><a href="#schedule">SCHEDULE</a></li>
      <li><a href="#accommodations">ACCOMMODATIONS</a></li>
      <li><a href="#">REGISTRY</a></li>
    </ul>
  </nav>

  <header>
    <i class="fa fa-bars nav-toggle" aria-hidden="true" onclick="toggleNav()"></i>
    <nav class="toggle-navigation">
      <i class="fa fa-times nav-toggle" aria-hidden="true" onclick="toggleNav()";"></i>
      <ul>
        <li><a href="#" class="title">DENA & JONNY</a></li>
        <br><br><br><br><br>
        <li><a href="#our-story">OUR STORY</a></li>
        <br><br>
        <li><a href="#schedule">SCHEDULE</a></li>
        <br><br>
        <li><a href="#accommodations">ACCOMMODATIONS</a></li>
        <br><br>
        <li><a href="#">REGISTRY</a></li>
      </ul>
    </nav>
  </header>
</main>

<section id="our-story">
  <h1>OUR STORY</h1>
</section>
<section id="schedule">
  <h1>SCHEDULE</h1>
</section>
<section id="accommodations">
  <h1>ACCOMMODATIONS</h1>
</section>