<main>
  <nav class="main">
    <ul class="main-navigation">
      <li><a href="#">HOME</a></li>
      <li><a href="#our-story">OUR STORY</a></li>
      <li><a href="#schedule">SCHEDULE</a></li>
      <li><a href="#accommodations">ACCOMMODATIONS</a></li>
      <li><a href="https://www.zola.com/registry/denaandjonny" target="_blank">REGISTRY</a></li>
    </ul>
  </nav>

  <header>
    <i class="fa fa-bars nav-toggle" aria-hidden="true" onclick="toggleNav()"></i>
    <nav class="toggle-navigation">
      <i class="fa fa-times nav-toggle" aria-hidden="true" onclick="toggleNav()";"></i>
      <ul>
        <li><a href="#" class="title">DENA & JONNY</a></li>
        <br><br><br><br><br>
        <li><a href="#our-story">OUR STORY</a></li>
        <br><br>
        <li><a href="#schedule">SCHEDULE</a></li>
        <br><br>
        <li><a href="#accommodations">ACCOMMODATIONS</a></li>
        <br><br>
        <li><a href="#">REGISTRY</a></li>
      </ul>
    </nav>
  </header>
</main>

<section id="our-story">
  <h1 class="section-title">OUR STORY</h1>
  <br><br><br>
  <div class="flex-container">
    <div class="flex-1 double-spaced center story">
      "Jonny and I met a few times through friends, but both of us were too chicken to make a move. Luckily the good old-fashioned dating app Hinge connected us. Jonny messaged me asking if I wanted to come to Canada with him for Passover, but I told him I thought drinks were more appropriate. After finally finding a place that accepted Jonny’s Canadian ID, we drank some Blanche de Chambly and got to know each other. The next time I saw him we spent the entire day together. I was going out of town the next weekend and the night before I left, Jonny asked if it would be okay to 'steal me' that night for a few hours. From that point on, we weren’t shy about our feelings—we wanted to spend as much time together as possible. I was amazed by his sincerity, patience, affection, silliness, and openness. I have never been so certain about the person I want by my side for the rest of my life."
      <br><br>
      - Dena
    </div>
    <br><br>

    <div class="flex-1 double-spaced center story">
        "Dena and I both moved to DC in late August 2013. We met that same week, but it would take another seven months for us to meet again. At Andrew Wazorsky’s (sp?) party, I spotted a cute, older lady on the other side of the room dressed in a white quarter-zip sweater. Yes, that lady was Dena but, no, I did not say hi. I chickened out. Fate being what it is, we matched that week on Hinge (an online dating app). After a disastrous first date that involved a little bar hopping and garbage talk, Dena gave me a second shot, and a third, and a fourth… Until I couldn’t go a day without being with her. And now I never will."
        <br><br>
        - Jonny
    </div>
  </div>
</section>

<section id="schedule">
  <h1 class="section-title">SCHEDULE</h1>
  <div class="flex-container">
    <div class="flex-1 text-center">
      <h2 class="ceremony">Ceremony at 6:30pm</h2>
      <p>Dinner and dancing to follow</p>
    </div>
  </div>
</section>

<section id="accommodations">
  <h1 class="section-title">ACCOMMODATIONS</h1>
<div class="flex-container">
    <div class="flex-1 text-center">
      <h2>
        For the convenience of our guests we have reserved a block of rooms at the W Midtown Atlanta hotel.
        <br>
        Please call and reference the Franco/Newburgh wedding when making a reservation.
      </h2>
      <p>
        <a href="http://www.watlantamidtown.com">http://www.watlantamidtown.com</a>
        <br>
        (404) 892-6000
      </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13263.929702533203!2d-84.3816609!3d33.786952!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2cc2e6d6029cdccd!2sW+Atlanta+Midtown!5e0!3m2!1sen!2sus!4v1483493680721" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>