<!DOCTYPE html>
<html>
  <head>
    <title>DenaJonnyWedding</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar">
    <table>
      <tr>
        <td>
          <a href="/"><span>HOME</span></a>
        </td>
        <td>
          <a href="#directions"><span>DIRECTIONS</span></a>
        </td>
        <td>
          <a href="#faqs"><span>FAQS</span></a>
        </td>
      </tr>
    </table>
  </div>

    <%= yield %>
  </body>
</html>
